.cardContainer {
    background-color: rgb(185, 185, 185);

    a {
        list-style-type: none;
        text-decoration: none;
        color: black;
        
        &:hover{
            cursor: pointer;
            color: rgb(110, 110, 110)
        }
    }

}

.container {
    width: 100px;
    margin: auto;

    div {
        margin: 400px auto;
    }
}

